body {
  background: url(../images/bg.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  &.hidden {
    overflow: hidden;
  }
}

section {
  margin-bottom: 80px;
}

.desktop-visible {
  @include max-width(b-lg) {
    display: none;
  }
}
.mobile-visible {
  display: none;
  @include max-width(b-lg) {
    display: block;
  }
}
