h2 {
  margin-bottom: 64px;
  @include font(64, 80, 400);
  font-family: "kharkiv";
  text-transform: uppercase;
  text-align: center;
  @include max-width(b-lg) {
    @include font(24, 34, 400);
    margin-bottom: 16px;
  }
}

h3,
h4,
h5,
h6,
a,
p,
button[type="submit"],
input,
label,
textarea {
  font-family: "fixel";
}

// h1 {
//   @include font(64, 76, 700);
//   @include min-width(b-lg) {
//     @include font(32, 40, 700);
//   }
// }

// h2 {
//   text-align: center;
//   @include font(64, 76, 700);
//   @include max-width(b-md) {
//     @include font(32, 38, 700);
//   }
// }

// h3 {
//   @include media-breakpoint-down(md) {
//   }
// }

// h4 {
//   text-align: center;
//   @include max-width(b-md) {
//     @include font(20, 24, 500);
//   }
// }

// h5 {
//   @include font(20, 24, 500);
// }

// h6 {
//   @include media-breakpoint-down(lg) {
//   }
// }

// p {
//   @include font(16, 20, 400);
//   @include max-width(b-md) {
//     @include font(16, 20, 300);
//   }
// }
