h1,
h2,
h3,
h4 {
  font-family: "kharkiv";
  text-transform: uppercase;
}

h5,
h6,
a,
p,
button[type="submit"],
button,
input,
label,
textarea {
  font-family: "fixel";
}

h1,
h2 {
  text-align: center;
}

h1 {
  @include font(82, 82, 400);
  @include max-width(b-xl) {
    @include font(52, 62, 400);
  }
  @include max-width(b-md) {
    @include font(27, 27, 400);
  }
}

h2 {
  margin-bottom: 32px;
  @include font(64, 64, 400);
  @include max-width(b-lg) {
    @include font(24, 34, 400);
    margin-bottom: 16px; // на формі
  }
}
h3 {
  @include font(40, 54, 400);
  @include max-width(b-lg) {
    @include font(18, 20, 400);
  }
}

h4 {
  @include font(24, 32, 400);
  @include max-width(b-md) {
    @include font(14, 17, 400);
  }
}

h5 {
  @include font(18, 22, 400);
}

p {
  @include font(16, 20, 400);
  @include max-width(b-md) {
    @include font(12, 14, 400);
  }
}

h1 {
  color: $white-color;
}
h2 {
  color: $black-color;
}

h3,
h4,
h5,
p {
  &.white {
    color: $white-color;
  }
  &.black {
    color: $black-color;
  }
}
