-
    var nav = [
        {
            title: 'Головна',
            link: '#'
        },
        {
            title: 'Переваги',
            link: '#'
        },
        {
            title: 'Послуги',
            link: '#'
        },
        {
            title: 'Досвід',
            link: '#'
        },
        {
            title: 'Кейси',
            link: '#'
        },
        {
            title: 'Контакти',
            link: '#'
        },
    ]

header.header
    .header__logo 
        include ../../../images/logo.svg
    nav.header__wrapper
        ul.header__menu.header-desk.flex
            for link in nav 
                li
                    a(href=link.link)= link.title
    button.btn.btn__white Розрахунок вартості
    .header__lang.togle-lang.lang
        .lang__ua
            p UA
        .lang__divider 
            p /
        .lang__eng
            p ENG
    .header__mobile.mobile
        a#hamburger.hamburger
            span.line
            span.line
            span.line

.header__menu-mobile.header-mob
    ul.header-mob__list.list
        for link in nav 
            li.list__item.item
                a.item__link(class='header__menu--link' href=link.link)= link.title