-
    var nav = [
        {
            title: 'Main',
            "link": '/'
        },
        {
            title: 'Advantages',
            scroll: 'advantages'
        },
        {
            title: 'Services',
            scroll: 'services'
        },
        {
            title: 'Expirience',
            scroll: 'about'
        },
        {
            title: 'Cases',
            scroll: 'cases'
        },
        {
            title: 'Contacts',
            scroll: 'footer'
        },
    ]

header.header
    .flex.ai-center.jc-between
        .header__logo 
            include ../../../images/logo.svg
        nav.header__nav.desktop-visible
            ul.header__menu.header-desk.flex
                for link in nav 
                    li
                        a(data-animate= link.scroll href= link.link)= link.title
        a(href="/calculate.html").header__btn.btn.btn--white Cost calculation
        .header__lang.togle-lang.lang.desktop-visible.flex.ai-center
            a(href="/ua.html").lang__ua.active
                p UA
            .lang__divider 
                p /
            .lang__eng
                p ENG
        .header__mobile-btn.mobile-btn.mobile-visible
            a.hamburger.mobile-hamburger
                span.line
                span.line
                span.line


.header__menu-mobile.header-mob
    .flex
        ul.header-mob__list.list
            for link in nav 
                li.list__item.item
                    a.item__link(class='header__menu--link' data-animate=link.scroll)= link.title
        .header-mob__lang.lang
            p Language
            a
                include ../../../images/gb.svg 
            a(href="ua.html") 
                include ../../../images/ua.svg 
    a(href="/calculate-en.html").header-mob__btn.btn.btn--blue Cost calculation
    .header-mob__contacts.container.flex.lg-flex-column-up
        a(href="tel:+447488818545").contact__item +44 74 888 18 545
        a(href="tel:+380688818245").contact__item +380 68 881 82 45
        a(href="mailto:brostltd@gmail.com").contact__item brostltd@gmail.com