.form {
  &.hidden {
    display: none;
  }
  input[type="number"],
  input[type="text"],
  textarea {
    width: 100%;
    @include font(12, 15, 400);
    padding: 13px 18px;
    border: 1px solid #232323;
    border-radius: 28px;
    &.err {
      border: 2px solid #fd0303;
    }
    @include max-width(b-md) {
      padding: 8px 14px;
    }
  }
  .item {
    margin-left: 65px;
    margin-bottom: 32px;
    position: relative;
    @include max-width(b-md) {
      margin-left: 25px;
    }
    &::before {
      position: absolute;
      content: "";
      display: block;
      left: -50px;
      width: 18px;
      height: 100%;
      background-color: #3c44e3;
      border-radius: 8px 0px 8px 0px;
      @include max-width(b-md) {
        left: -27px;
      }
    }
    &__title p {
      @include font(36, 45, 400);
      margin-bottom: 8px;
      @include max-width(b-md) {
        @include font(24, 24, 400);
      }
    }
    &__subtitle p {
      @include font(24, 30, 400);
      margin-bottom: 4px;
      @include max-width(b-md) {
        @include font(18, 24, 400);
      }
    }
    &__radio {
      margin-bottom: 16px;
      input[type="radio"] {
        display: none;
      }

      input[type="radio"] + label {
        cursor: pointer;
        padding: 8px 24px;
        display: block;
        @include font(16, 20, 400);
        border-radius: 8px 0px 8px 0px;
        opacity: 0.3;
        color: #fff;
        transition: ease-in-out 250ms;
      }
      input[type="radio"] + label:first-of-type {
        background-color: #282eaa;
        margin-right: 8px;
      }
      input[type="radio"] + label:last-of-type {
        background-color: #000000;
      }
      input[type="radio"]:checked + label {
        opacity: 1;
      }
    }
    &__hidden {
      display: none;
      input {
        max-width: 375px;
      }
      &.show {
        display: block;
      }
      p {
        @include font(16, 20, 400);
        margin-bottom: 8px;
        @include max-width(b-md) {
          @include font(14, 18, 400);
        }
      }
      span {
        @include font(14, 18, 400);
        margin-bottom: 8px;
        @include max-width(b-md) {
          @include font(12, 16, 400);
        }
      }
      // input[type="number"] {
      //   @include font(12, 15, 400);
      //   padding: 13px 18px;
      //   border: 1px solid #232323;
      //   border-radius: 28px;
      //   &.err {
      //     border: 2px solid #fd0303;
      //   }
      // }
      input[type="file"] {
        display: none;
      }
      input[type="file"] + label {
        cursor: pointer;
        display: inline-block;
        background-color: #232323;
        color: #fff;
        padding: 13px 18px;
        border-radius: 8px;
        &::before {
          content: url(../../images/document.svg);
          margin-right: 10px;
        }
      }
    }
  }
  &__contact {
    max-width: 780px;
    margin: 0 auto;
    .contact {
      width: calc(50% - 10px);
      margin-bottom: 16px;
      &:nth-child(odd) {
        margin-right: 20px;
        @include max-width(b-md) {
          margin-right: unset;
        }
      }
      p {
        margin-bottom: 8px;
      }
      &-wide {
        p {
          margin-bottom: 8px;
        }
        width: 100%;
        textarea {
          resize: none;
          height: 150px;
          border-radius: 8px;
          margin-bottom: 16px;
        }
      }
      @include max-width(b-md) {
        width: 100%;
      }
    }
  }
  &__submit {
    max-width: 680px;
    margin: 0 auto;
    p {
      @include font(12, 15, 400);
      color: #000000;
      max-width: 350px;
      text-align: center;
    }
  }
  .iti {
    display: block;
  }
}
.tg-form {
  padding: 0 15px;
}
.form__title {
  padding: 0 15px;
}
.form-preloader {
  margin-top: 60px;
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #282eaa;
    margin: 0 auto;
    .circle-loader-wrap {
      top: calc(50% - 70px);
      left: calc(50% - 70px);
      overflow: hidden;
      position: relative;
      margin-top: -10px;
      width: 140px;
      height: 140px;
      // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
      background-color: #282eaa;
      border-radius: 50%;

      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
      &:after {
        content: "";
        position: absolute;
        left: 10px;
        top: 10px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #282eaa;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      div {
        overflow: hidden;
        position: absolute;
        width: 50%;
        height: 100%;
      }
      .loader {
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 1000px;
        background-color: $white-color;
      }

      .left-wrap {
        left: 0;

        .loader {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          transform-origin: 0 50% 0;
          -webkit-transform-origin: 0 50% 0;
          animation: loading-left 4s infinite linear;
          -webkit-animation: loading-left 4s infinite linear;
        }
      }
      .right-wrap {
        left: 50%;
        .loader {
          left: -100%;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          transform-origin: 100% 50% 0;
          -webkit-transform-origin: 100% 50% 0;
          animation: loading-right 4s infinite linear;
          -webkit-animation: loading-right 4s infinite linear;
        }
        // CSS3 Circle Loader Stuff right HERE!!!

        @keyframes loading-left {
          0% {
            transform: rotate(0deg);
          }
          25% {
            transform: rotate(180deg);
          }
          50% {
            transform: rotate(180deg);
          }
          75% {
            transform: rotate(180deg);
          }
          100% {
            transform: rotate(180deg);
          }
        }
        @-webkit-keyframes loading-left {
          0% {
            -webkit-transform: rotate(0deg);
          }
          25% {
            -webkit-transform: rotate(180deg);
          }
          50% {
            -webkit-transform: rotate(180deg);
          }
          75% {
            -webkit-transform: rotate(180deg);
          }
          100% {
            -webkit-transform: rotate(180deg);
          }
        }
        @keyframes loading-right {
          0% {
            transform: rotate(0deg);
          }
          25% {
            transform: rotate(0deg);
          }
          50% {
            transform: rotate(180deg);
          }
          75% {
            transform: rotate(180deg);
          }
          100% {
            transform: rotate(180deg);
          }
        }

        @-webkit-keyframes loading-right {
          0% {
            -webkit-transform: rotate(0deg);
          }
          25% {
            -webkit-transform: rotate(0deg);
          }
          50% {
            -webkit-transform: rotate(180deg);
          }
          75% {
            -webkit-transform: rotate(180deg);
          }
          100% {
            -webkit-transform: rotate(180deg);
          }
        }
      }
    }
  }
  &.hidden {
    display: none;
  }
}

.success {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000098;
  &__content {
    padding: 20px 40px;
    background-color: #fff;
    svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 16px;
    }
  }
  &.hidden {
    display: none;
  }
  p {
    text-align: center;
    margin-bottom: 8px;
  }
  .close {
    margin: 0 auto;
  }
}
