- var title = 'Brost'
- var gTag = 'G-'

doctype html    
html(lang="en")
    include pug/sections/global/head.pug
    body
        include pug/sections/global/header-en.pug
        include pug/sections/hero-en.pug
        include pug/sections/advantages-en.pug
        include pug/sections/benefits-en.pug
        include pug/sections/services-en.pug
        include pug/sections/about-en.pug
        include pug/sections/price-en.pug
        include pug/sections/cases-en.pug
        include pug/sections/global/footer-en.pug