- var title = 'TITLE'
- var gTag = 'G-'

doctype html    
html(lang="uk")
    include pug/sections/global/head.pug
    body
        include pug/sections/global/header.pug
        section.plug 
            img(src="images/main.webp", alt="")
            a(href="https://drive.google.com/drive/folders/1-9DlcdshAv1mguQr5wLR8hJJRq5GVgio" target="_blank").btn дізнатись деталі
        include pug/sections/global/footer.pug