- var title = 'Brost'
- var gTag = 'G-'

doctype html    
html(lang="ua")
    include pug/sections/global/head.pug
    body
        include pug/sections/global/header.pug
        include pug/sections/hero.pug
        //- include pug/sections/advantages.pug
        //- include pug/sections/services.pug
        include pug/sections/about.pug
        //- include pug/sections/price.pug
        //- include pug/sections/cases.pug
        include pug/sections/global/footer.pug