.btn {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 16px 110px;
  border-radius: 8px 0 8px 0;
  @include max-width(b-md) {
    margin: 0 auto;
    margin-bottom: 16px;
  }
  &__white {
    color: #282eaa;
    background-color: #fff;
  }
  &__blue {
    background-color: #282eaa;
    color: #fff;
  }
}
