.btn {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 16px 110px;
  border-radius: 8px 0 8px 0;
  @include max-width(b-md) {
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 16px 80px;
  }
  &--white {
    color: $black-color;
    background-color: $white-color;
  }
  &--blue {
    background-color: $blue-color;
    color: $white-color;
  }
}
