section(data-block="about").about.container
  h2 Conquer new heights with a proven track record
  .about__items.flex.jc-around.md-flex-column-up.ai-center
    .item__years.years.flex.ai-center
      .years__count
        p.count 9
      .years__descr
        h3.descr years #[br] on the market
    .item__objects.flex.ai-center
      .objects__count
        p.count 80
      .objects__descr
        h3.descr completed #[br] projects
  .about__descr 
    p.white Over the past 9 years, our company has implemented more than 80 automation and dispatch projects in key sectors such as medical institutions, shopping and entertainment centers, renowned brand car dealerships, world-class hotels, supermarkets, and recreational complexes throughout Ukraine. We take pride in our ability to transform ordinary spaces into intelligent, efficient, and safe environments that meet the needs of modern society.