section(data-block="about").about.container
  h2 Підкорюйте нові вершини з перевіреним досвідом
  .about__items.flex.jc-around.md-flex-column-up.ai-center
    .item__years.years.flex.ai-center
      .years__count
        p.count 9
      .years__descr
        h3.descr років #[br] на ринку
    .item__objects.flex.ai-center
      .objects__count
        p.count 80
      .objects__descr
        h3.descr реалізованих #[br] об’єктів
  .about__descr 
    p.white За 9 років наша компанія втілила понад 80 проектів з автоматизації та деспетчеризації у таких ключових секторах, як медичні заклади, торговельно-розважальні центри, автосалони відомих брендів, готелі світового класу, супермаркети, та рекреаційні комплекси по всій Україні. Ми гордимося нашою здатністю трансформувати звичайні простори в інтелектуальні, ефективні та безпечні середовища, які служать потребам сучасного суспільства.