-
 var cases = [
  { 
    image: "../../images/case1.webp",
    title: "Готель Radisson Blu Hotel, Київ, Україна, 2015",
    content_title: "Автоматизація та Диспетчеризація наступних інженерних систем:",
    content_list: [
      "Припливно-витяжна вентиляція",
      "Фанкойли/кондиціонери",
      "Локальні витяжні вентилятори",
      "Холодильні машини/холодопостачання",
      "Індивідуальний тепловий пункт",
      "Моніторинг електропостачання",
      "Насосна ХВС/ГВС",
      "Керування освітленням",
      "Загальні заміри"
    ]
  },
  { 
    image: "../../images/case2.webp",
    title: "Автосалон Jaguar Land Rover, Київ, Україна, 2018",
    content_title: "Автоматизація та Диспетчеризація наступних інженерних систем:",
    content_list: [
      "Припливно-витяжна вентиляція",
      "Фанкойли/кондиціонери",
      "Локальні витяжні вентилятори",
      "Холодильні машини/холодопостачання",
      "Індивідуальний тепловий пункт",
      "Керування освітленням",
      "Загальні заміри",
    ]
  },
  { 
    image: "../../images/case3.webp",
    title: "Клініка «Добробут», Львів, Україна, 2023",
    content_title: "Автоматизація та Диспетчеризація наступних інженерних систем:",
    content_list: [
      "Припливно-витяжна вентиляція",
      "Фанкойли/кондиціонери",
      "Локальні витяжні вентилятори",
      "Холодильні машини/холодопостачання",
      "Індивідуальний тепловий пункт",
      "Моніторинг електропостачання",
      "Насосна ХВС/ГВС",
      "Загальні заміри",
    ]
  },
  { 
    image: "../../images/case4.webp",
    title: "Офіс «Industrial Innovation Group LLC», ОАЕ, 2019",
    content_title: "Автоматизація та Диспетчеризація наступних інженерних систем:",
    content_list: [
      "Припливно-витяжна вентиляція",
      "Фанкойли/кондиціонери",
      "Локальні витяжні вентилятори",
      "Холодильні машини/холодопостачання",
      "Індивідуальний тепловий пункт",
      "Моніторинг електропостачання",
      "Насосна ХВС/ГВС",
      "Керування освітленням",
      "Загальні замір",
    ]
  },
  { 
    image: "../../images/case5.webp",
    title: "ТРЦ «Проспект», Київ, Україна, 2016",
    content_title: "Автоматизація та Диспетчеризація наступних інженерних систем:",
    content_list: [
      "Припливно-витяжна вентиляція",
      "Фанкойли/кондиціонери",
      "Локальні витяжні вентилятори",
      "Холодильні машини/холодопостачання",
      "Індивідуальний тепловий пункт",
      "Моніторинг електропостачання",
      "Насосна ХВС/ГВС",
      "Керування освітленням",
      "Загальні заміри",
      "Облік енергоресурсів по орендарям",
    ]
  },
  { 
    image: "../../images/case6.webp",
    title: "ТРЦ «Піраміда», Київ, Україна, 2020",
    content_title: "Автоматизація та Диспетчеризація наступних інженерних систем:",
    content_list: [
      "Припливно-витяжна вентиляція",
      "Фанкойли/кондиціонери",
      "Локальні витяжні вентилятори",
      "Холодильні машини/холодопостачання",
      "Індивідуальний тепловий пункт",
      "Моніторинг електропостачання",
      "Насосна ХВС/ГВС",
      "Керування освітленням",
      "Загальні заміри",
    ]
  },
  { 
    image: "../../images/case7.webp",
    title: "Готель «Іnter Continental Kyiv» Київ, Україна, 2021",
    content_title: "Автоматизація та Диспетчеризація наступних інженерних систем: (Реконструкція)",
    content_list: [
      "Припливно-витяжна вентиляція",
      "Фанкойли/кондиціонери",
      "Локальні витяжні вентилятори",
      "Керування освітленням",
      "Загальні заміри",
    ]
  },
 ]


section.cases 
  h2 Наші кейси диспетчеризації в дії
  .cases__items
    for item in cases
      .item 
        .item__title
          p= item.title 
        .item__content.content
          .content__title
            p= item.content_title
          ul.content__list
            for list in item.content_list
              li= list