section.hero
  .wrapper
    .container
      h1 Building dispatching
      h4.white Your step into the future with modern, reliable automation #[br] and dispatching of building operations
      .hero__hint.hint.flex.jc-center
        .hint__question.flex.ai-center.jc-center
          include ../../images/question_mark.svg
        .hint-text__wrapper
          .hint__text 
            p <span>Dispatching</span> — is a set of technical means and software products that <span>centralise control</span> and diagnostics of the state of engineering systems, manage them and take immediate adequate measures in case of emergencies.
            p   Up to 50% of energy resources are wasted as a result of inefficient management of engineering systems