section.hero
  .wrapper
    .container
      h1 Диспетчеризація будівель
      h4.white Ваш крок у майбутнє до сучасної, надійної автоматизації #[br] та диспетчеризації експлуатації приміщень
      .hero__hint.hint.flex.ai-center.jc-center
        .hint__question.flex.ai-center.jc-center
          include ../../images/question_mark.svg
        .hint__text 
          p <span>Диспетчеризація</span> — це сукупність технічних засобів і програмних продуктів, за допомогою яких здійснюється <span>централізація контролю</span> та діагностики стану інженерних систем, управління ними та невідкладне прийняття адекватних заходів у разі аварійних ситуацій.