section.hero
  .wrapper
    .container
      h1 Диспетчеризація будівель
      h4.white Ваш крок у майбутнє до сучасної, надійної автоматизації #[br] та диспетчеризації експлуатації приміщень
      .hero__hint 
        