section(data-block="price").price
  .flex.lg-flex-column-reverse-up.ai-center
    .price__image 
      img(src="../../images/build.webp", alt="")
    .price__descr.container
      h3.white Бажаєте дізнатись вартість диспетчерезації Вашої будівлі?
      h4.white Заповніть коротку форму і отримайте #[br] індивідуальний прорахунок
      a(href="/calculate.html").btn.btn--white Дізнатись вартість