section.price 
  .price__image 
    img(src="", alt="")
  .price__descr 
    h3 Бажаєте дізнатись вартість диспетчерезації Вашої будівлі?
    h4 Заповніть коротку форму і отримайте індивідуальний прорахунок
    button.btn.btn--white дізнатись вартість