section(data-block="price").price
  .flex.lg-flex-column-reverse-up.ai-center
    .price__image 
      img(src="../../images/build.webp", alt="")
    .price__descr.container
      h3.white   Want to know the cost of dispatching your building?
      h4.white Fill out a short form and get an #[br] individual calculation
      a(href="/calculate.html").btn.btn--white.eng Find out the cost